body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: #0EBD60 !important;
  border-color: rgb(118, 118, 118) !important;
}

.close ::before{
  content: 'X';
  visibility: visible;
  color: darkgray;
  font-weight: bold;
}

.sr-only::before{
  visibility: hidden;
}

.close{
  /*background-color: red; */
  visibility: hidden;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 20px;
  height: 20px;
  background-color: rgba(247, 12, 12, 0.5);
}

.bez-margine{
  margin: 0!important;
}

.banner{
  color: rgba(0,0,0,.55) !important;
  background-color: #f8f9fa !important;
}

.navbar-toggler{
  background-color: #f8f9fa !important;
}

.okvir-desni{
  border-right: 15px solid white;
}

.bezpaddinga{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card {
  flex-direction: row !important;
}
.card img {
  width:100px;
  height: 100px;
  height: auto;
  object-fit:cover;
}

.pokazivac{
  cursor: pointer !important;
}

.w-30{
  width:30% !important;
}

.w-70{
  width: 70% !important;
}

p{
  font-size: 16px;
  text-align: justify;
}

.palac{
  color: #F1C27D !important;
}

.navbar-light .navbar-toggler-icon{
  color: white !important;
}

.profilna-slika{
  object-fit: cover;
  width: 100px !important;
  height: 100px !important;
}

.follow{
  font-size: 18px;
}

.text1{
  float:left;
  margin-top:10px;
  text-align: center;
  font-size: 18px;
  padding: 0px;
  color: #0EBD60 !important;
  line-height: 14px;
  height: 18px;
  cursor:  pointer !important;
}
.text2{
  float:left;
  font-size: 18px !important;
  margin-top: 10px;
  line-height: 19px;
  height: 18px;
  margin-left: 3px !important;
}

.recommended-slika{
  object-fit: cover;
  width: 85px !important;
  height: 85px !important;
}

.form-select{
  color: #212529 !important;
}

.aktivan{
  color: #0EBD60 !important
}

.neaktivan{
  color: #D83A56 !important;
}

.spiner{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.velicinaspinera{
  width: 6rem !important;
  height: 6rem !important;
}

.nick-recommended{
  font-size: 14px;
}

.nick-recommended a{
  text-decoration: none;
  color: black;
}

.bez-dekoracije{
  text-decoration: none;
  color: #6c757d;
}

.bez-dekoracije:hover{
  text-decoration: none;
  color: #6c757d;
}

.bez-dekoracije2{
  text-decoration: none;
  color: black;
}

.bez-dekoracije2:hover{
  text-decoration: none;
  color: black;
}

.nick-recommended a:hover{
  text-decoration: none;
  color: #0EBD60;
}

.inline-htag{
  display: inline-block;
  font-size: 26px;
}

.followeri{
  text-decoration: none !important;
  color: #0EBD60 !important;
}

textarea {
  resize: none !important;
}

.font-podaci{
  font-size: 24px;
}
.font-nick{
  font-size: 16px;
}
.font-osebi{
  font-size: 16px;
}
.glavni{
  font-size: 16px;
  text-align: center;
  padding: 0!important;
}


.red{
  padding: 0px!important;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

.scrollbar
{
  margin-left: 0 !important;
  padding-left: 0 !important;
  float: left;
  height: 750px;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.scrollbar2
{
  margin-left: 0 !important;
  padding-left: 0 !important;
  float: left;
  height: 570px;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow
{
  min-height: 450px;
}

.objave-profil{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px!important;
}

#style-1::-webkit-scrollbar-track
{
  border-radius: 10px;
}

.recommended{
  font-size:24px;
  font-weight: bold;
}

#style-1::-webkit-scrollbar
{
  width: 12px;
}

.containerm {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.containerm::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #0EBD60;
}

@media screen and (max-width: 768px){
  .okvir-desni{
    border-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .bezpaddinga{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.preostalo-poruka{
  color: #0EBD60 !important;
}

.preostalo-manje{
  color: #FFD523;
}
.preostalo-nista{
  color: red;
}
input[aria-invalid=true]{
  border-width: 1px 1px 1px 10px;
  border-style: solid;
  border-color: #D83A56;
  border-image: initial;
}

.greska{
  color: #D83A56;
  margin: 0!important;
}

p{
  word-break: break-all!important;
}