body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: #0EBD60 !important;
  border-color: rgb(118, 118, 118) !important;
}

.banner{
  color: rgba(0,0,0,.55) !important;
  background-color: #f8f9fa !important;
}

.navbar-toggler{
  background-color: #f8f9fa !important;
}

.okvir-desni{
  border-right: 15px solid white;
}

.bezpaddinga{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card {
  flex-direction: row !important;
}
.card img {
  width:100px;
  height: 100px;
  height: auto;
  object-fit:cover;
}

.w-30{
  width:30% !important;
}

p{
  font-size: 16px;
  text-align: justify;
}

.palac{
  color: #F1C27D !important;
}

.navbar-light .navbar-toggler-icon{
  color: white !important;
}

.profilna-slika{
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.follow{
  font-size: 18px;
}

.recommended-slika{
  object-fit: cover;
  width: 85px !important;
  height: 85px !important;
}

.form-select{
  color: #212529 !important;
}

.aktivan{
  color: #0EBD60 !important
}

.neaktivan{
  color: #D83A56 !important;
}

.spiner{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.velicinaspinera{
  width: 6rem !important;
  height: 6rem !important;
}

.nick-recommended{
  font-size: 14px;
}

.inline-htag{
  display: inline-block;
  font-size: 26px;
}

.followeri{
  text-decoration: none !important;
  color: #0EBD60 !important;
}

textarea {
  resize: none !important;
}

.font-podaci{
  font-size: 24px;
}
.font-nick{
  font-size: 16px;
}
.font-osebi{
  font-size: 16px;
}
.glavni{
  font-size: 16px;
  text-align: center;
  padding: 0!important;
}


.red{
  padding: 0px!important;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

.scrollbar
{
  margin-left: 0 !important;
  padding-left: 0 !important;
  float: left;
  height: 700px;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow
{
  min-height: 450px;
}

.objave-profil{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px!important;
}

#style-1::-webkit-scrollbar-track
{
  border-radius: 10px;
}

.recommended{
  font-size:24px;
  font-weight: bold;
}

#style-1::-webkit-scrollbar
{
  width: 12px;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #0EBD60;
}

@media screen and (max-width: 768px){
  .okvir-desni{
    border-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .bezpaddinga{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.preostalo-poruka{
  color: #0EBD60 !important;
}

.preostalo-manje{
  color: #FFD523;
}
.preostalo-nista{
  color: red;
}