body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: #0EBD60 !important;
  border-color: rgb(118, 118, 118) !important;
}

.banner{
  color: rgba(0,0,0,.55) !important;
  background-color: #f8f9fa !important;
}

.navbar-toggler{
  background-color: #f8f9fa !important;
}

.okvir-desni{
  border-right: 15px solid white;
}

.navbar-light .navbar-toggler-icon{
  color: white !important;
}
